<div class="author">
    <div class="author-heading"><h1>Hi I'am Savindu</h1></div>
    <div class="author-body">Web Developer</div>
</div>

<img src="/img/developer.jpg" alt="developer coding" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles-heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>